
body{
    background-color: white;

    
}




.name-photo-container{
    width: 300px;
    background-image: linear-gradient(rgba(247, 238, 238, 0.681), rgba(197, 195, 195, 0.727));
    display: block;
    /* display: flex;
    justify-content: left; */
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0 ;
    border: none;
}

.name-cont{
    display: block;
    text-align: left;
    margin-left: 15px;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.pict-cont{
    display: block;
    margin-top: 30px;
}
.education-experience-container{
    display: flex;
}

.education-skill-content{
    display: block;
}
.ed-content{
    width: 300px;
    display: block;
    margin-top: 60px; 
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    border: none;
    /* font-weight: 100;
    font-size: small; */

}

h2{
    font-family: 'Roboto Condensed', sans-serif;
   

}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 13px;
}


h5{

     font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 12px;
}

.skills-container{
    display: block;
}
.skills-content{
margin-left: 15px;;
/* display: block; */
}


/* CSS for right side of page */


.name-about-me-container{
       display: flex;
    /* justify-content: left; */
    /* width: 600px; */
    
}

.about-container{
   display: inline;
    /* width: 600px; */
    margin-bottom: 50px;

}

.about-content{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 20px;
    padding:10px;
   

}

#about-header{
    padding-left: 5px;
    margin-left: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;

}

#about-par{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    text-align: left;
    font-size: 20px;
}

.contact-info-container{
    display: inline;
    /* margin-top: 350px; */
}

.contact-info-content{
    margin-left: 45px;
    
}

.list-container{
    display: flex;
    margin-top: 5px;    /* justify-content: center; */
    
}


#bottom-pair{
    margin-left: 70px;
}

ui {
    border: solid;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 10px;
}

ol{
    padding: 20px;
}


/* .experience-container{
    display: inline;
   
} */
.experience{
    margin-top: 42px;
}
.expo-content{
    display: inline;
}

/* .expo-information {
    display: inline;
    margin-left: 300px;
}

.role-comp-info{
    display: block;
}

.work-year{
    display: inline;
    margin-left: 450px;
    margin-top: 20px;
}


/* .expo-one{
    display: flex;
} */ 

.expo-one{
    display: flex;
}

.company-role{
    display: block;
    margin-left: 30px;
    font-family: 'Roboto Condensed', sans-serif;

}

.work-years{
    display: inline;
    margin-left: 400px;
    margin-top: 9px;
}

.work-desc{
    display: inline;
    /* text-align: left; */
    /* margin-left: 30px; */
}

#desc-par{
        margin-left: 30px;
    margin-right: 30px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;


}

#expo-header{
    margin-left: 30px;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;

}